/* Register Styles css */

.register-container {
    max-width: 600px;
    margin: auto; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(192, 247, 255);
    margin-top: 30px;
}

.register-title {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    text-align: left;
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 15px;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.submit-button {
    width: 100%;
    padding: 10px;
    background-color: #ffae00;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #b38300;
}

.login-link {
    text-align: center;
    margin-top: 20px;
}

.login-link a {
    color: #007bff;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}
